body{
    font-family: 'Montserrat';
    font-style: normal;
}
.task{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #282829;
}
.form-check-input:checked{
    background-color:#26AD13 !important;
    border-color: #26AD13 !important;
}
.nav-item a{
    cursor: pointer;
}
#exampleModalLabel3{
    padding-left: 170px;
}